:root {
  --azul-main: #17162E;
  --azul-catalogo: #1D1C3B;
  --branco: #FFFFFF;
  --cinza: #ACACAC;
  --cinza-descricao: #8A8A8A;
  --lilas: #706EA8;
  --background-pesquisa: #FFFFFF33;
  --sombra: rgba(0, 0, 0, 0.2);
}

* {
  font-family: 'Kumbh Sans', sans-serif;
}

body {
  background-color: var(--azul-main);
  color: var(--branco);
  
}

/*Estilização header, que contém só o título*/
.header-container {
  max-width: 1280px;
  margin: 48px auto;
  padding-top: 14px;
  text-align: center;
 
}

.titulo-principal {
  color: var(--branco);
  font-size: 36px;
  font-weight: 600;
  font-family: 'Kumbh Sans', sans-serif;
}

/*Estilização do corpo do site*/

/*Geral*/
main {
  max-width: 1280px;
  margin: 0 auto;
  font-family: 'Kumbh Sans', sans-serif;
}

/*Parte de filtros e pesquisa*/

.filtros {
  max-width: 640px;
  min-width: 480px;
  margin: auto;
}

.label-presquisa {
  display: flex;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  background-color: var(--background-pesquisa);
  border-radius: 8px;
  cursor: pointer;
}

.input-pesquisa {
    outline-style: none;
    background-color: transparent;
    border: none;
    width: 100%;
    height: 100%;
    font-size: 18px;
    color: var(--branco);
    padding: 0.5rem 0;
    
}

.label-favoritos {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  margin: 30px 0;
}

.label-favoritos > input {
    appearance: none;
    border: 8px solid var(--azul-main);
    border-radius: 4px;
    outline: 1px solid var(--lilas); 
    margin: 0 10px;
}

.label-favoritos > input:checked {
  border: 8px solid var(--lilas);
  outline: 1px solid var(--cinza-descricao); 
}

/*Parte do catálogo de filmes*/
.catalogo-container{
  display: flex;
  flex-direction: column;
}

.filme {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 30px 40px;
  background-color: var(--azul-catalogo);
  border-radius: 8px;
  box-shadow: 15px 10px 30px var(--sombra);
  font-size: 18px;
}

.cartaz-filme{
  width: 140px;
  border-radius: 50%;
  margin: 30px 40px 30px 0;
}

.titulo-status{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  width: 40%;
  min-width: 350px;
}

.titulo-status ul{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-weight: 400;

}

.status{
  max-width: 250px;
  width: 100%;
}

.titulo-filme{
  margin-bottom: 24px;
  line-height: 22px;
}

.avaliacao img, 
.favoritar img {
  width: 20px;
}

.status-lista span {
  padding-left: 5px;
}

.descricao-filme{
  display: flex;
  max-width: 50%;
  color: var(--cinza-descricao);
  line-height: 32px;
}